@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');
@import "responsive.css";
@import "root.css";

/***************************************
General Styling
****************************************/
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
    cursor: pointer;
    color: #3E434B;
}

a:hover {
    color: #0E141E;
}

ul li {
    list-style: none;
}

body {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    color: #0E141E;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    background-color: #F3F2EF !important;
}

body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0E141E;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

p {
    color: #65696F;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600 !important;
    line-height: 1.6 !important;
    color: #0E141E;
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: top;
    -moz-user-select: none;
    user-select: none;
}

/***************************************
Navbar Styling
****************************************/
#top-bar .logo img {
    width: 100%;
    height: 100%;
    /*max-height: 120px;*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

#main-bar .custom-nav {
    padding: 0;
    background-image: linear-gradient(to bottom, #005387, #005185, #005082, #004e80, #004d7e);
    box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
}

.custom-nav .nav-link {
    padding: 15px !important;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 400;
}

.custom-nav .nav-link:hover,
.custom-nav .nav-link:focus {
    color: #ffffff;
    background-color: #00426C;
}

.custom-nav .dropdown-menu .dropdown-item {
    padding: 5px 15px;
    font-weight: 400;
}

.custom-nav .dropdown-menu .dropdown-item:hover {
    color: #ffffff;
    background-color: #00426C;
}

.custom-nav .navbar-toggler {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50px;
    margin: 5px 0;
}

.custom-nav .navbar-toggler:focus {
    box-shadow: none;
}

.custom-nav .navbar-toggler i {
    color: #00426C;
}

/***************************************
Banner Styling
****************************************/
.main-section .card {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

.main-section .card .banner-carousel .banner-figure {
    width: 100%;
    height: 500px;
    margin-bottom: 0px;
}

.main-section .card .banner-carousel .banner-figure img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.main-section .card .banner-carousel .banner-figure .banner-figcaption {
    position: absolute;
    right: 55%;
    bottom: 0;
    left: 0%;
    z-index: 999;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background: rgba(84, 180, 235, 0.17);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
}

.main-section .card .banner-carousel .banner-figure .banner-figcaption h6 {
    color: #fff;
    font-family: 'Source Serif Pro', serif;
    letter-spacing: 1px;
    font-size: 24px;
    margin-bottom: 0;
}

.main-section .card .banner-carousel {
    position: relative;
}

.main-section .card .banner-carousel .owl-dots {
    display: flex;
    position: absolute;
    align-items: center;
    right: 10%;
    bottom: 2%;
}

.main-section .card .banner-carousel .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.3);
    margin-right: 5px;
    border-radius: 50%;
}

.main-section .card .banner-carousel .owl-dots .owl-dot.active {
    width: 13px;
    height: 13px;
    background: rgba(255, 255, 255, .8);
    margin-right: 5px;
    border-radius: 50%;
}

/***************************************
News card Styling
****************************************/
.news-card .card-header {
    background-color: #005387;
}

.news-card .card-header span {
    color: #ffffff;
}

.news-card .news {
    padding-left: 0 !important;
}

.news-card .news .news-item .news-text {
    margin-bottom: 5px;
}

.news-card .news .news-item {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

.news-card .news .news-item .news-text .card-text {
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.news-card .news .news-item .news-text .card-text span {
    color: #c09c09;
    margin-right: 5px;
}

.news-card .news .news-item .news-text .card-text a {
    text-decoration: none;
    color: #005387;
}

.news-card .news .news-item .news-text .card-text a:hover {
    color: #00426C;
    text-decoration: underline;
}

.news-card .card-footer a {
    font-size: 14px;
}

.news-card .card-footer .pagination {
    margin-left: 10px !important;
}

.news-card .card-footer .pagination .page-link {
    margin-right: 5px;
    background-color: #005387;
    color: #fff;
    transition: all 0.1s ease-in-out;
}

.news-card .card-footer .pagination .page-link:hover {
    background-color: #00426C;
}

.page-link:focus {
    box-shadow: none !important;
}

.link-card .card-header {
    background-color: #005387;
    color: #fff;
}

.link-card .card-body {
    padding: 0;
}

.link-card .card-body .link-item {
    color: #555555;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.link-card .card-body .link-item:hover {
    background-color: #e7e7e7;
}

.link-card .card-body .link-item i {
    margin-right: 10px;
    color: #005387;
}

/***************************************
About card Styling
****************************************/
.main-section .about-card h6,
.main-section .message-card h6,
.main-section .gallery-card h6,
.main-section .facilities-card h6,
.main-section .custom-card h6,
.contact-section .custom-card h6 {
    font-size: 22px;
    font-weight: 600;
    color: #005387;
}

.main-section .about-card .card-body a,
.main-section .message-card .card-body a {
    background-color: #005387;
    color: #fff;
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
    font-size: 14px;
}

.main-section .about-card .card-body a:hover,
.main-section .message-card .card-body a:hover {
    background-color: #00426C;
}

.main-section .about-card img,
.main-section .message-card img {
    width: 100%;
    height: 100%;
    max-height: 250px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/***************************************
Gallery card Styling
****************************************/
.main-section .gallery-card .about-img {
    width: 100%;
    height: 250px;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.main-section .gallery-card .about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: all 0.5s ease;
}

.main-section .gallery-card .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.main-section .gallery-card .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.main-section .gallery-card .about-img:hover .image {
    opacity: 0.3;
}

.main-section .gallery-card .about-img:hover .middle {
    opacity: 1;
}

.main-section .gallery-card .about-img .middle i {
    background-color: #005387;
    color: white;
    font-size: 16px;
    padding: 15px;
    border-radius: 50%;
}

/***************************************
Footer Styling
****************************************/
.footer-section {
    background-color: #252525;
    color: #ffffff;
}

.footer-section h5 {
    color: #ffffff;
}

.footer-section .icon-box i {
    font-size: 25px;
}

.footer-section a {
    color: #ffffff;
    text-decoration: none;
}

.footer-section a:hover {
    color: rgba(255, 255, 255, .5);
}

/***************************************
Styling
****************************************/
.academic-calendar a {
    font-weight: 500;
    text-decoration: none;
}

.academic-calendar i {
    font-size: 24px;
    color: #ff0000;
}

.academic-calendar h6 {
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 500 !important;
}

/***************************************
content card Styling
****************************************/
.contact-section .card-1 .icon {
    color: #005387;
}

.contact-section .card-1 a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.contact-section .custom-card .form-control {
    border-radius: 0 !important;
}

.contact-section .custom-card .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #005387 !important;
    outline: 2px solid #005387;
    box-shadow: none !important;
}

#btnScrollToTop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #005387;
    color: #fff;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    outline: none;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-in-out;
}

#btnScrollToTop:active,
#btnScrollToTop:hover {
    background: #00426C;
}

/***************************************
Facilities card Styling
****************************************/
.facilities-img {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.facilities-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    position: relative;
}

.facilities-img .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    /*background-color: rgba(75,75,75,0.7);*/
    -webkit-transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
    transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
}

.facilities-img h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: #00426C;
    -webkit-transform: translateY(203px);
    -ms-transform: translateY(203px);
    transform: translateY(203px);
    -webkit-transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
    transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
}

.facilities-img:hover .overlay {
    background-color: #00000047;
}

.facilities-img:hover h2 {
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
}

/***************************************
Courses card Styling
****************************************/
.courses-nav .nav-tabs {
    padding: 10px 0 0 10px;
    background: #005084;
    border-bottom: 1px solid #005084;
}

.courses-nav .nav-tabs .nav-link {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.courses-nav .nav-tabs .nav-link.active {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    background-color: #fff;
    border-color: #005084 #005084 #fff;
}

.courses-nav .nav-tabs .nav-link:hover {
    border-color: #005084 #005084 transparent;
    isolation: isolate;
}

.courses-tab-pane .card {
    background-color: #fff;
    border: 1px solid transparent !important;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 20px;
}
.courses-tab-pane .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.courses-tab-pane .card .card-title {
    text-transform: capitalize !important;
}

.courses-tab-pane .card .duration {
    font-weight: 600;
}

.courses-tab-pane .card .duration span {
    color: #3DDC48;
}

.courses-tab-pane .card .level {
    font-weight: 600;
}

.courses-btn {
    font-size: 16px;
    color: #fff;
    background: #005084;
    padding: 10px 18px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.courses-btn:hover {
    color: #fff;
    background: #00426C;
}

.whatsapp-btn i{
    font-size: 16px;
    padding: 10px;
    background: #3DDC48;
    color: #fff;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.whatsapp-btn i:hover{
    background: #259b2f;
    color: #fff;
}


.bg-success {
    color: white !important;
}

.bg-danger {
    color: white !important;
}